/*  your css code here. If applicable */
.photo-heading{
    display: flex;
    align-self: center;
    padding-top: 30px;
    margin: 0;
    padding-bottom: 30px;
    font-size: 45px;
    
    color: white;
    
    justify-content: center;  
 }
 .main{
    background-color: #444444;
 }
 .animal-photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
 }
 img{
    margin-top: 0;
    margin-left: 40px ;
    margin-bottom: 30px;
    border-radius: 30px;
 }
 .main{
    width: 90%;
    margin-left: 60px;
    border-radius: 30px;
 }